@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body{
  background-color: black;
  color: white;
}


.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

img{
  width: 170px;
  height: 170px;
}
      
.div_image{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.titles{
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
  font-size: 3.5rem;
  }
}